.card-list{
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.card-container{
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
    align-items: center;
    cursor: pointer;
    backface-visibility: hidden;
    -moz-osx-font-smoothing:grayscale;
    transform: translate(0);
    transition: transform 0.25s ease-out;
}
.image{
    width: 185px;
    height: 185px;
}

.card-container:hover{
    transform: scale(1.05);
}